<div class="contents row">
  <%= form_tag('/posts/create', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <input placeholder="タイトル" type="text" name="name">
    <input placeholder="Image Url" type="text" name="image">
    <input type="submit" value="SENT">
  <% end %>
</div>