<div class="post__new">
<div class="new__main">
<%= flash[:notice] %>
  <%= form_tag('/posts/create',{multipart: true}) do %>
    <h3>
      投稿する
    </h3>
    <p>
      <input placeholder="タイトル" type="text" name="name" class="post__new__title">
    </p>
      <img id="img1" style="width:300px;height:300px;" />
      <br>
      <input class="file"type="file" name="image">
    <p>
    <input type="submit" value="SENT">
    </p>
  <% end %>
</div>
</div>