.header{
  height: 70px;
  width: 100%;
  background-color: aquamarine; 
}
.logo{
  float: left;
  padding-top: 20px;
}
.new{
  text-align: right;
  padding-top: 20px;
}

.about{
  color: blueviolet;
  background-image: url("ミステリー.jpg");
  font-weight: bold;
}

.image{
  height: 200px;
  width: 200px;
}

.content_post{
  color: white;
  height: 200px;
  width: 200px;
}
