.post{
  color: aqua;
  font-size: 16px;
  text-decoration: none;
  float: right;
  padding-top: 20px;
  margin-right: 5px;
}
body{
  margin: 0;
  padding: 0;
}

.login{
  width: 100vw;
  height: 100vw;
  background-color: blanchedalmond;
}

.login__main{
  text-align: center;
  font-size: 25px;
}

.sign_up{
  width: 100vw;
  height: 100vw;
  background-color: blanchedalmond;
}
.sign_up__main{
  text-align: center;
  font-size: 25px;
}